 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Burger
@import '../../bower_components/sass-burger/_burger.scss';

// Font
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,400italic);
$font: 'Merriweather Sans', sans-serif;

// Variables

$black: #000;
$white: #fff;
$gray: #333;


$primary: #394053;
$secondary: #4E4A59;
$tertiary: #6E6362;
$quaternary: #839073;

// Custom Styles
body {
  color: $gray;
  font-family: $font;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 50px;
  margin: 0;
  padding: 25% 0 0;
  text-align: center;
  text-shadow: 2px 2px #000;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a {
  color: $tertiary;
  text-decoration: none;
  &:hover {
    color: $quaternary;
  }
}

i.fa {
  font-size: 28px;
  padding: 0 0.5rem;
}

header {
  background: none;
  left: 0;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 300ms ease-in-out;
  z-index: 100;
}

.logo {
  float: left;
  a {
    color: $white;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 2px 2px #000;
  }
}

.menu-button {
  display: none;
  float: right;
  padding: .5em;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #fff);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

nav {
  float: right;
}

ul#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  li {
    float: left;
    padding-left: 20px;
    a {
      color: $white;
      font-size: 18px;
      font-weight: 500;
      line-height: 33px;
      text-shadow: 2px 2px #000;
    }
    br {
      display: none;
    }
  }
}

.banner {
  background: url('../images/bg.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

#about {
  padding: 100px 0;
  text-align: center;
  p {
    padding: 0 20%;
  }
}

.socialbar {
  padding: 1rem 0 3rem;
}

#work {
  display: flex;
  flex-flow:row wrap;
  justify-content:center;
  .work {
    background: $gray;
    color: white;
    width: 33.33333%;
    float: left;
    padding: 2rem;
    text-align: center;
  }
}

#skills, #experience {
  width: 50%;
  float: left;
  padding: 3rem;
}

footer {
  display: block;
  padding: 3rem;
  clear:both;
  p {
    margin: 0;
    line-height: 28px;
    float: left;
  }
  .footer-social {
    float: right;
  }
}

@media only screen and (max-width : 1024px) {
  h1 {
    padding: 30% 0 0;
  }
  .banner {
    background-attachment: scroll;
  }
  header {
    padding: 15px;
  }
  nav {
    display: none;
    padding-top: 20px;
    width: 100%;
  }
  #nav {
    height: auto;
    li {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .menu-button {
    display: inline-block;
  }
}

@media only screen and (max-width : 768px) {
  h1 {
    padding: 60% 0 0;
  }
  ul#nav {
    li {
      float: left;
      padding-bottom: 1rem;
      a {
        line-height: 1.3;
      }
      br {
        display: inline;
      }
    }
  }
  #about {
    p {
      padding: 0 5%;
    }
  }
  #work {
    .work {
      width: 100%
    }
  }
  #skills, #experience {
    width: 100%;
  }
  footer {
    p {
      width: 100%;
      margin-bottom: 1rem;
    }
    .footer-social {
      width: 100%;
      text-align: center;
    }
  }
}










