 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Burger
@import '../../bower_components/sass-burger/_burger.scss';

// Font
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,400italic);
$font: 'Merriweather Sans', sans-serif;

// Variables

$black: #000;
$white: #fff;
$gray: #333;


$primary: #394053;
$secondary: #4E4A59;
$tertiary: #6E6362;
$quaternary: #839073;

// Custom Styles
body {
  color: $gray;
  font-family: $font;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 50px;
  margin: 0;
  padding: 235px 0 0;
  text-align: center;
  text-shadow: 2px 2px #000;
}

a {
  color: $tertiary;
  text-decoration: none;
  &:hover {
    color: $quaternary;
  }
}

header {
  background: $primary;
  left: 0;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.5s ease;
}

.logo {
  float: left;
  a {
    color: $white;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 2px 2px #000;
  }
}

.menu-button {
  display: none;
  float: right;
  padding: .5em;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #fff);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

nav {
  float: right;
}

ul#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: right;
    padding-left: 20px;
    a {
      color: $white;
      font-size: 18px;
      font-weight: 500;
      line-height: 33px;
      text-shadow: 2px 2px #000;
    }
  }
}

.banner {
  background: url('../images/bg.jpg') top center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
}

#about {
  padding: 100px 0;
  text-align: center;
}

@media only screen and (max-width : 1024px) {
  header {
    padding: 15px;
  }
  nav {
    display: none;
    padding-top: 20px;
  }
  #nav {
    li {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .menu-button {
    display: inline-block;
  }
}










